// =====================================
// links
// =====================================


a {
  color: $color-links;
  text-decoration: none;
  transition: all $global-transition $global-transition-function;

  &:hover,
  &:active,
  &:focus {
    color: $color-main;
  }
}
