/*  ==========================================================================
    PAGE-HEAD
    ========================================================================== */

.page-head {
    position: relative;
}

.page-head__item {
    padding: $spacing-unit--small 0;
    border-bottom: 2px solid $border-color;
    @include font-size(24px,false);
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    
    @include media-query(lap-and-up) {
        @include font-size(36px,false);
        padding: $spacing-unit 0;
        text-align: left;
    }
}




/**
 * logo-site 
 */

.logo-site {
    display: block;
}

.logo-site--text {}

.logo-site--img {
    float: left;
}




/**
 * slogan-site 
 */

.slogan-site {
    font-style: italic;
    color: lighten(#000,70%);

    @include media-query(lap-and-up) {
        padding: $spacing-unit + 4px 0 $spacing-unit - 4px;
        @include font-size(24px,false);
    }
}
