///*  ==========================================================================
//    COLORS
//    ========================================================================== */

$color-red:             #d2270e; 
$color-blue-dark:       #0388a6;
$color-blue:            #4a8ec2;
$color-text:            #222;

$primary-color:         $color-red;
$brand-color:           $primary-color;
$color-main:            $primary-color;


// borders
$border-color:          $color-red; //#e94304;
$color-border:          $border-color;


// links
$color-links:           $color-blue-dark;
$color-links-hover:     $color-blue;