/*  ==========================================================================
    PAGE
    ========================================================================== */
    
html {
    font-family: $base-font-family;
    font-weight: normal;
    color: $color-text;
}




   
   