/*  =================================================
    #LINKS
    ================================================= */
a {
  color: $color-link;
  text-decoration: none;
  transition: color .15s ease;

  &:hover {
    color: $color-hover;
    text-decoration: underline;
  }
}
