/* ==========================================================================
   DROPDOWN
   ========================================================================== */

   .dropdown--trigger {
       position: relative;
       z-index: 200;
       display: inline-block;
       border: 1px solid transparent;
       border-bottom-width: 0;
       border-radius: 5px 5px 0 0;
       padding: 3px;
       font-family: $sans-font-family;
       @include font-size(15px);
       &.active {
           border-color: #c6c4b8;
           background-color: #fff;
       }
   }

   .dropdown--panel {
       position: absolute;
       z-index: 199;
       top: -9999px;
       opacity: 0;
       width: 98%;
       padding: 12px;
       background-color: #fff;
       margin-top: -1px;
       border: 1px solid #c6c4b8;
       border-radius: 0 5px 5px 5px;
       box-shadow: 0 1px 2px #ccc;
       @include transition(opacity 0.5s ease-in-out);
       &.active {
           top: auto;
           opacity: 1;
       }
   }
