/*  =================================================
    #LEAD
    ================================================= */
/** @define Lead */
.Lead {
  color: $color-gray;
  font-size: 22px;
  font-style: italic;
  font-weight: 300;
}
