/*  ==========================================================================
    WRAPPER
    ========================================================================== */

.wrapper {
    max-width:1000px;
    margin: 0 auto;
    padding-right: $spacing-unit--small;
    padding-left:  $spacing-unit--small;
}

