// fonts
$font-family-serif: 'Merriweather', serif;
$font-family-sans: 'Merriweather Sans', sans-serif;

// colors
$color-default: #444;

$color-blue   : #3aa5c2;
$color-blue-2 : #513ac2;
$color-blue-dark: #243040;
$color-red    : #c23a5f;

$color-white  : #fff;
$color-black  : #000;
$color-gray   : #999;

$color-text   : $color-default;
$color-bg     : $color-white;
$color-link   : $color-blue-2;
$color-hover  : $color-red;
