//
// UNITS
//

$font-size-unit     : 16px;
$line-height-unit   : 20px;

$spacing-unit       : $line-height-unit;
$spacing-unit--tiny : round($line-height-unit / 4);
$spacing-unit--small: round($line-height-unit / 2);
$spacing-unit--large: round($line-height-unit * 2);
$spacing-unit--huge : round($line-height-unit * 4);
