/*============================
=            cols            =
============================*/
$gutter: 2%;

.cols {
    @extend .cf;
    width: 100%;
    .col {
        float: left;
        margin-right: $gutter;
    }
}
.two-cols {
    .col {
        width:50%-$gutter;
    }
}
.three-cols {
    .col {
        width:33.333%-$gutter;
    }
}
.four-cols {
    .col {
        width:25%-$gutter;
    } 
}
.five-cols {
    .col {
        width:20%-$gutter;
    }
}

/*-----  End of cols  ------*/

