/*=================================
=            documents            =
=================================*/

.spip_documents {
    dt a {
        display: inline-block;
    }
    img {
        padding: 4px;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,0.2);
        @include vendor(box-shadow,0 1px 3px rgba(0,0,0,0.1));
    }
}
.spip_documents_center {
    width: 100%;
    text-align: center;
    dt,
    dd {
        margin: 0 auto;
    }
}

.spip_doc_titre,
.spip_doc_descriptif {
    font-family: $sans-font-family;
    @include font-size(13px);
    line-height: 1;
    color: #999;
}

/*-----  End of documents  ------*/

