/*=============================
=            =logo            =
=============================*/

.logo {
    // position: absolute;
    float: left;
    display: block;
    // background-color: rgba(#eee,0.5);
    padding: $base-spacing-unit/2 4px;
    border-bottom: 2px solid $border-color;
}

/*-----  End of =logo  ------*/

