// =====================================
// Colors
// =====================================

$color-white:       #fff;
$color-gallery:     #eee;
$color-red:         #d2270e;
$color-blue-dark:   #0388a6;
$color-blue:        #4a8ec2;
$color-mine-shaft:  #222;
$color-silver:      #bbb;
$color-alto:        #ddd;
$color-gray:        #888;

$primary-color:     $color-red;
$brand-color:       $primary-color;
$color-main:        $primary-color;
$color-text:        $color-mine-shaft;
$color-disabled: $color-silver;


// links
$color-links:       $color-blue-dark;
$color-links-hover: $color-blue;
