/*   =Typo
   ------------------------------------------------------ */
   html {
      font-family: "Helvetica Neue",Helvetica, sans-serif;
   }
   body {color: #333;}

/*   =Liens
   ------------------------------------------------------ */
   a:link { color: #000; }
   a:visited { color: #000; }
   a:hover { color: #000; text-decoration: underline; }
   a:active,
   a:focus { position:relative; top:1px; }

/*   =Structure
   ------------------------------------------------------ */
   #entete { }
   #nav,
   #conteneur {
      float: left;
      display: inline;
   }

   #nav {
      width: 260px;
      margin-right: 40px;
      text-align: right;
   }
   #conteneur {
      width: 620px;
      float: right;
      position: relative;
   }
   #pied {
      clear: both;
   }


/*   =Entete
   ------------------------------------------------------ */
   #logo {
      font-size: 3em; line-height: 2em;
      display: block;
      float: left;
      margin-left: 320px;

   }
   #logo a {color: #000;}
   .slogan {
      float: left;
      font-size: 1.625em;
      line-height: 110px;
      color: #999;
   }
   .slogan::before {
      content: '/';
      margin-left: 7px; margin-right: 7px;
   }

/*   =nav principale
   ------------------------------------------------------ */
   #nav .nav a {
      display: block;
      margin-right: 20px;
      margin-bottom: .5em;
      position: relative;}
   #nav .nav li a, #nav .nav ul {
      border-width: 0;
      background: none;
   }
   #nav .nav > li > a {
      border-bottom: 1px solid #ddd;
   }
   #nav .nav li {display: block;}
   #nav .header > a {
      font-size: .75em;
      border-bottom: 1px solid #ddd;
   }
   #nav .header .ui-state-default {color: #999;}
   #nav .header .ui-state-active {border-bottom-color: #000; color: #000;}
   #nav .header .item a {font-size: 0.875em;}
   #nav .menu-liste {
      padding: 0;
   }
   #nav .item.on a {color: #000;}
   #nav .item.on > a:after {
      content:'»';
      font-weight: bold;
      position: absolute;
      right: -20px;
   }


/*   =formulaire recherche
   ------------------------------------------------------ */
   #nav #formulaire_recherche {
      margin-right: 20px;
      margin-top: 3em;
      padding: .5em 0;
      xborder: 1px solid #000; xborder-width: 1px 0;
   }
   .formulaire_recherche {
      font-size: .75em;
   }
   .formulaire_recherche label {display: none;}
   .formulaire_recherche #recherche {width: 180px;}


/*   =Listes articles
   ------------------------------------------------------ */
   .liste .liste-items {
      margin-left: 0;
      list-style-type: none;

   }
      .liste .liste-items .item {
         margin-bottom: 2em;
      }
      .liste .item .entry-title {
         margin-bottom: .5em;
         text-transform: uppercase;
      }
      .liste .item div {margin-left: 20px;}


/*   =Documents
   ------------------------------------------------------ */
   .spip_documents .spip_doc_titre {font-size: .8em;}
   .spip_documents_center {
      display: block; clear: both;
      width: 100%;
      margin: 2em auto;
   }

/*   =Pied de page
   ------------------------------------------------------ */
   #pied {font-size: .75em;}
   #pied img {vertical-align: bottom;}

/*   =Partagé
   ------------------------------------------------------ */
   #logo,
   .slogan,
   #nav ul,
   h1,h2,h3,h4,h5,h6 {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   }

   /* text-transform: uppercase; */
   #logo,
   .slogan,
   #nav .header > a {
      text-transform: uppercase;
   }

/*   =AFFICHAGE GRILLE
   ------------------------------------------------------ */
   .grid body { background: url(../img/css/12-grid.png) top center repeat-y!important; }


/*   =SPIP : BOUTONS ADMINISTRATION
   ------------------------------------------------------ */
   /* boutons admin spip */
   #spip-admin.spip-admin-float {
      top: -0.2em;
   }
   #spip-admin .spip-admin-boutons {
      opacity: 0.4;
      font: .75em  "Menlo","Lucida Grande",Tahoma,sans-serif;
      text-align: center;
      font-weight: normal;
   }
   #spip-admin .spip-admin-boutons:hover { opacity: 0.7; }